#content2{
    width: 60%;
    background-color: white;
    margin: 30px auto;
    box-shadow: 2px 2px 5px 2px;;
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px;
}

.imgitat img{
    width: 50%;
    height: 400px;
}

