
@font-face {
    font-family: brands;
    src: url(../webfonts/fa-brands-400.eot);
  }
  @font-face {
    font-family: regular;
    src: url(../webfonts/fa-regular-400.eot);
  }
  /* @font-face {
    font-family: Hello;
    src: url(..\webfonts\Aileron.otf);
  }
  @font-face {
    font-family: Raleway;
    src: url(..\webfonts\Aileron.otf);
  }
  @font-face {
    font-family: SIMPLIFICA;
    src: url(..\webfonts\Aileron.otf);
  } */
  
  @font-face {
    font-family: Aileron;
    src: url(..\font\Aileron.otf);
  }
  @font-face {
    font-family: Capriola;
    src: url(..\font\Capriola.ttf);
  }
  @font-face {
    font-family: Hello;
    src: url(..\font\Hello.ttf);
  }
  @font-face {
    font-family: Raleway;
    src: url(..\font\Raleway.ttf);
  }
  @font-face {
    font-family: SIMPLIFICA;
    src: url(..\font\SIMPLIFICA.ttf);
  }
  
  @font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }